<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/images/wu.png">

    <title>รถเข็นจ่ายยา</title>
</head>

<body>
    <%- include ./core/navbar.ejs %>
        <div class="container">

            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="card card-trolley shadow" style="height: 10rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <img src="/images/medicine.png" alt="" width="40%">
                                </div>
                                <div class="col-md-5"> <a class="h2" href="/trolley/detail-trolley/1 ">การจัดยา</a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-trolley shadow" style="height: 10rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <img src="/images/clock.png" alt="" width="40%">
                                </div>
                                <div class="col-md-5"> <a class="h2" href="/nurse ">การจ่ายยา</a></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-trolley shadow" style="height: 10rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <img src="/images/clock.png" alt="" width="40%">
                                </div>
                                <div class="col-md-5"> <a class="h2" href="/nurse ">ลงทะเบียนกล่อง</a></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

</body>

</html>