
<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="icon" href="/images/wu.png">
<script src="/javascripts/sweet.min.js"></script>
<script src="/javascripts/resetdata.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" ></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<title>รถเข็นจ่ายยา</title>


<nav class="navbar navbar-fixed-top navbar-inverse navbar-dark bg-primary " role="navigation">
    <!--navbar settings-->
    <div class="container-fluid">
        <div class="navbar-header">
  
       
                <a class="navbar-brand">
                  รถเข็นจ่ายยา
                </a>
           
        </div>
  
          <button class="btn btn-link text-white" type ="button" onclick=" return confirm('คุณต้องการออกจากระบบหรือไม่',window.location.href='/')">ออกจากระบบ</button>
          
  
    </div>
  </nav>
  